{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{%- block title -%}
    {% trans %}Groups{% endtrans %}
{%- endblock -%}

{% block submenu %}
    <a class="active item" href="{{ url_for('core.groups.groups') }}">
        <i class="th list icon"></i>
        {% trans %}View{% endtrans %}
    </a>
    <a class="item" href="{{ url_for('core.groups.create_group') }}">
        <i class="plus icon"></i>
        {% trans %}Add{% endtrans %}
    </a>
{% endblock %}

{% block content %}
    <div class="ui top attached segment">
        <h2 class="ui center aligned header">
            <div class="content">
                {% trans %}Groups{% endtrans %}
            </div>
        </h2>
        {{ table.search(table_form, "table.groups") }}
    </div>
    {% include "partial/groups.html" %}
{% endblock %}
