{% extends theme('base.html') %}
{% import 'macro/form.html' as fui %}

{% block content %}
    <div class="loginform">
        {% block header %}
            <h3 class="ui top attached header">
                {% if logo_url %}
                    <img class="ui image" src="{{ logo_url }}">
                {% endif %}
                <div class="content">
                    {% trans %}Password reset{% endtrans %}
                </div>
            </h3>
        {% endblock %}

        <div class="ui attached clearing segment">
            {{ fui.render_form(form, _("Password reset"), action=url_for("core.auth.reset", user=user, hash=hash)) }}
            {% if form["password"] %}
                <div>
                    <p class="progress_bar">{% trans %}Password strength{% endtrans %}</p>
                    <div class="ui indicating progress" data-percent="{{ form['password'].data|password_strength }}">
                        <div class="bar" style="width: {{ form['password'].data|password_strength }}%;">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
