*.sqlite
*.pyc
venv/*
env
.*@neomake*
.ash_history
.python_history
config.toml
.tox
.coverage
.coverage.*
htmlcov
*.egg-info
build
dist
python-ldap-test*
conf/oauth-authorization-server.json
conf/openid-configuration.json
conf/*.pem
conf/*.pub
conf/*.key
