.env
*.sqlite
*.sqlite-journal
*.pyc
*.mo
*.prof
venv/*
env
.*@neomake*
.ash_history
.python_history
config.toml
.tox
.coverage
.coverage.*
htmlcov
*.egg-info
build
dist
python-ldap-test*
canaille/conf/oauth-authorization-server.json
canaille/conf/openid-configuration.json
canaille/conf/*.pem
canaille/conf/*.pub
canaille/conf/*.key
.vscode
