*.sqlite
*.pyc
venv/*
env
.*@neomake*
.ash_history
.python_history
config.toml
.tox
.coverage
.coverage.*
htmlcov
*.egg-info
build
dist
python-ldap-test*
oidc_ldap_bridge/conf/oauth-authorization-server.json
oidc_ldap_bridge/conf/openid-configuration.json
oidc_ldap_bridge/conf/*.pem
oidc_ldap_bridge/conf/*.pub
oidc_ldap_bridge/conf/*.key
