@media only screen and (min-width: 1200px) {
    .ui.ui.ui.container:not(.fluid) {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .ui.ui.ui.container:not(.fluid) {
        width: 790px;
        margin-left: auto;
        margin-right: auto;
    }
}


body {
    background: #F8F8F8;
    padding: 1em;
}

.logo img{
    max-width: 50px;
    max-height: 50px;
}

footer {
    font-size: x-small;
    text-align: center;
}

footer a {
    color: #B0B0B0;
}
