---
version: "3"

services:
  canaille:
    hostname: canaille.localhost
    build:
      context: ..
      dockerfile: dev/Dockerfile-canaille
    environment:
      - CANAILLE__DATABASE=memory
      - AUTHLIB_INSECURE_TRANSPORT=1
      - FLASK_DEBUG=1
      - CANAILLE_CONFIG=/opt/canaille/conf/canaille.toml
      - FLASK_APP=devapp
    volumes:
      - ../canaille:/opt/canaille/canaille
      - ./conf:/opt/canaille/conf
    ports:
      - 5000:5000

  client:
    hostname: client.localhost
    depends_on:
      - canaille
    image: ghcr.io/authlib/auth-playground:latest
    environment:
      - OAUTH_CLIENT_ID=client
      - OAUTH_CLIENT_SECRET=2xYPSReTQRmGG1yppMVZQ0ASXwFejPyirvuPbKhNa6TmKC5x
      - OAUTH_AUTH_SERVER=http://canaille.localhost:5000
    ports:
      - 4000:4000

  maildump:
    hostname: maildump.localhost
    build:
      context: ..
      dockerfile: dev/Dockerfile-maildump
    ports:
      - 1025:1025
      - 1080:1080
