{% extends g.auth.template or 'core/auth/base.html' %}
{% import 'core/partial/login_field.html' as login_field %}
{% import 'core/partial/captcha_field.html' as captcha_field %}

{% block script %}
    {% if captcha_data %}
        <script src="{{ url_for('static', filename='js/captcha.js') }}" defer></script>
    {% endif %}
{% endblock %}

{% block auth_subtitle %}
    <div class="sub header">{{ _("Please enter your password for this account.") }}</div>
{% endblock %}

{% block auth_form_content %}
    <input type="text"
           name="username"
           autocomplete="username"
           class="dummy-username"
           value="{{ g.auth.user_name }}"
           tabindex="-1">
    {{ login_field.render_field(form.password, autofocus=true) }}

    {% if captcha_data %}
        {{ captcha_field.render_captcha_field(form, captcha_data, 'core.account.captcha_audio') }}
    {% endif %}
{% endblock %}

{% block auth_right_buttons %}
    {% if features.has_smtp and features.has_password_recovery %}
        <a type="button" class="ui button" href="{{ url_for('core.auth.password.forgotten') }}">
            {{ _("Forgotten password") }}
        </a>
    {% endif %}
    <button type="submit" class="ui primary button">{{ _("Sign in") }}</button>
{% endblock %}
