{% extends theme('base.html') %}
{% import 'macro/flask.html' as flask %}
{% import 'macro/form.html' as fui %}
{% import 'core/partial/login_field.html' as login_field %}
{% import 'core/auth/macro.html' as auth_macro %}

{% block container %}
    <div class="ui container">
        <div class="content">
            <div class="ui clearing segment">
                {% block header %}
                    {% if logo_url %}
                        <a href="{{ url_for('core.account.index') }}">
                            <img class="ui tiny centered image" src="{{ logo_url }}" alt="{{ website_name }}">
                        </a>
                    {% else %}
                        <i class="massive sign in icon image ui"></i>
                    {% endif %}

                    <h2 class="ui center aligned header">
                        {{ auth_macro.user_header(_("Please enter your password for this account.")) }}
                    </h2>
                {% endblock %}

                {% block messages %}
                    {{ flask.messages() }}
                {% endblock %}

                {% call fui.render_form(form, hx_boost="false") %}
                    {% block fields %}
                        {{ login_field.render_field(form.password, class="autofocus") }}
                    {% endblock %}

                    {% block buttons %}
                        <div class="ui left floated stackable buttons">
                            <a type="button" class="ui button" href="{{ url_for('core.auth.login') }}">
                                {{ auth_macro.not_user_button() }}
                            </a>
                        </div>
                        <div class="ui right floated stackable buttons">
                            {% if features.has_smtp and features.has_password_recovery %}
                                <a type="button" class="ui button" href="{{ url_for('core.auth.password.forgotten') }}">
                                    {{ _("Forgotten password") }}
                                </a>
                            {% endif %}
                            <button type="submit" class="ui primary button">{{ _("Sign in") }}</button>
                        </div>
                    {% endblock %}
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}
