{% extends theme('base.html') %}

{% block content %}
    <div id="modal-delete-credential" class="ui warning message">
        <form method="post" action="{{ request.url }}">
            <input type="hidden" name="csrf_token" value="{{ request.form.get("csrf_token") }}">
            <input type="hidden" name="credential_id" value="{{ credential_id }}">
            <div class="ui icon header">
                <i class="trash icon"></i>
                {% trans %}Delete security key{% endtrans %}
            </div>
            <div class="content">
                <p>
                    {% if credential_name %}
                        {% trans name=credential_name %}
                            Are you sure you want to delete the security key "{{ name }}"?
                        {% endtrans %}
                    {% else %}
                        {% trans %}
                            Are you sure you want to delete this security key?
                        {% endtrans %}
                    {% endif %}
                </p>
                <p>
                    <strong>{% trans %}This action cannot be undone.{% endtrans %}</strong>
                </p>
            </div>
            <div class="ui center aligned container">
                <div class="ui stackable buttons">
                    <a class="ui cancel button" href="{{ request.url }}">{% trans %}Cancel{% endtrans %}</a>
                    <button type="submit" name="action" value="fido2-delete-credential" class="ui red approve button">
                        {% trans %}Confirm{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
