{% extends theme('base.html') %}
{% import 'macro/form.html' as fui %}

{% block content %}
    <div class="ui warning message" id="modal-unset-owner">
        {% call fui.render_form(form) %}
            <input type="hidden" name="user" value="{{ form.user.data }}">
            <div class="ui icon header">
                <i class="star outline icon"></i>
                {% trans %}Remove group ownership{% endtrans %}
            </div>
            <div class="content">
                <p>
                    {% trans group_name=group.display_name, user_name=form.user.data.formatted_name %}
                        Are you sure you want to remove ownership of the group "{{ group_name }}" from {{ user_name }}?
                    {% endtrans %}
                </p>
            </div>
            <div class="ui center aligned container">
                <div class="ui stackable buttons">
                    <a href="{{ request.url }}" class="ui cancel button">
                        {% trans %}Cancel{% endtrans %}
                    </a>
                    <button name="action" value="unset-owner" id="unset-owner" class="ui red approve button">
                        {% trans %}Remove owner{% endtrans %}
                    </button>
                </div>
            </div>
        {% endcall %}
    </div>
{% endblock %}
