{% extends 'base.html' %}

{% block content %}
<div class="ui center aligned segment">
    {% if client.oauthLogoURI %}
        <img class="ui centered tiny image" src="{{ client.oauthLogoURI }}" alt="{{ client.oauthClientName }}">
    {% endif %}

    <p>{{ gettext('The application %(name)s is requesting access to:', name=client.oauthClientName) }}</p>
    <p>
        <strong>{{ grant.request.scope }}</strong>
    </p>

    <p>{{ gettext('from: %(user)s', user=user.name) }}</p>

    <div class="ui buttons">
        <form action="{{ request.url }}" method="post" id="deny">
            <input type="hidden" name="answer" value="deny" />
            <input type="submit" class="ui negative button" value="{% trans %}Deny{% endtrans %}" />
        </form>

        <form action="{{ request.url }}" method="post" id="logout">
            <input type="hidden" name="answer" value="logout" />
            <input type="submit" class="ui button" value="{% trans %}Switch user{% endtrans %}" />
        </form>

        <form action="{{ request.url }}" method="post" id="accept">
            <input type="hidden" name="answer" value="accept" />
            <input type="submit" class="ui positive button" value="{% trans %}Accept{% endtrans %}" />
        </form>
    </div>
</div>
{% endblock %}
