{# Password forgotten page.

This page displays a form asking for the email address of users who cannot remember their password.
#}
{% extends theme('base.html') %}
{% import 'macro/form.html' as fui %}

{%- block title -%}
    {%- trans -%}Forgotten password{%- endtrans -%}
{%- endblock -%}

{% block content %}
    <div class="loginform">
        {% block header %}
            <h3 class="ui top attached header">
                {% if logo_url %}
                    <img class="ui image" src="{{ logo_url }}">
                {% endif %}
                <div class="content">
                    {% trans %}Forgotten password{% endtrans %}
                </div>
            </h3>
        {% endblock %}

        {% block message %}
            <div class="ui attached message">
                {% trans %}
                    After this form is sent, if the email address or the login you provided
                    exists, you will receive an email containing a link that will allow you
                    to reset your password.
                {% endtrans %}
            </div>
        {% endblock %}

        <div class="ui attached clearing segment">
            {% call fui.render_form(form) %}
                {% block fields %}
                    {{ fui.render_field(form.login, icon="user") }}
                {% endblock %}

                {% block buttons %}
                    <div class="ui right aligned container">
                        <div class="ui stackable buttons">
                            {% if features.has_registration %}
                                <a type="button" class="ui right floated button" href="{{ url_for('core.account.join') }}">{{ _("Create an account") }}</a>
                            {% endif %}
                            <a type="button" class="ui right floated button" href="{{ url_for('core.auth.login') }}">{{ _("Login page") }}</a>
                            <button type="submit" class="ui right floated {% if request.method != "POST" or form.errors %}primary {% endif %}button">
                                {% if request.method == "POST" %}
                                    {{ _("Send again") }}
                                {% else %}
                                    {{ _("Send") }}
                                {% endif %}
                            </button>
                        </div>
                    </div>
                {% endblock %}
            {% endcall %}
        </div>
    </div>
{% endblock %}
