{% extends theme('base.html') %}
{% import 'macro/flask.html' as flask %}
{% import 'macro/form.html' as fui %}
{% import 'core/partial/login_field.html' as login_field %}

{% block container %}
    <div class="ui container">
        <div class="content">
            <div class="ui clearing segment">
                {% block header %}
                    {% if logo_url %}
                        <a href="{{ url_for('core.account.index') }}">
                            <img class="ui tiny centered image" src="{{ logo_url }}" alt="{{ website_name }}">
                        </a>
                    {% else %}
                        <i class="massive sign in icon image ui"></i>
                    {% endif %}

                    <h2 class="ui center aligned header">
                        <div class="content">
                            {{ _("Sign in as %(username)s", username=username) }}
                        </div>
                        <div class="sub header">{% trans %}Please enter your password for this account.{% endtrans %}</div>
                    </h2>
                {% endblock %}

                {% block messages %}
                    {{ flask.messages() }}
                {% endblock %}

                {% call fui.render_form(form, hx_boost="false") %}
                    {% block fields %}
                        {{ login_field.render_field(form.password, class="autofocus") }}
                    {% endblock %}

                    {% block buttons %}
                        <div class="ui right aligned container">
                            <div class="ui stackable buttons">
                                <a type="button" class="ui right floated button" href="{{ url_for('core.auth.login') }}">{{ _("I am not %(username)s", username=username) }}</a>
                                {% if features.has_smtp and features.has_password_recovery %}
                                    <a type="button" class="ui right floated button" href="{{ url_for('core.auth.forgotten') }}">{{ _("Forgotten password") }}</a>
                                {% endif %}
                                <button type="submit" class="ui right floated primary button">{{ _("Sign in") }}</button>
                            </div>
                        </div>
                    {% endblock %}
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}
