{% extends 'base.html' %}

{% block style %}
    <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/datatables/dataTables.semanticui.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="/static/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/datatables/dataTables.semanticui.min.js"></script>
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block content %}

<table class="ui table">
    <thead>
        <th>{% trans %}Token{% endtrans %}</th>
        <th>{% trans %}Client{% endtrans %}</th>
        <th>{% trans %}Subject{% endtrans %}</th>
        <th>{% trans %}Created{% endtrans %}</th>
    </thead>
    {% for token in tokens %}
    <tr>
        <td><a href="{{ url_for('canaille.admin.tokens.view', token_id=token.oauthAccessToken) }}">{{ token.oauthAccessToken }}</a></td>
        <td><a href="{{ url_for('canaille.admin.clients.edit', client_id=token.oauthClientID) }}">{{ token.oauthClientID }}</a></td>
        <td>{{ token.oauthSubject }}</td>
        <td>{{ token.issue_date }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
