{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{% block title %}
    {% trans %}Groups{% endtrans %}
{% endblock %}

{% block content %}
    <div class="ui segment">
        <a class="ui primary button" href="{{ url_for('groups.create_group') }}">{% trans %}Add a group{% endtrans %}</a>
    </div>

    <div class="ui segment">
        <h2 class="ui center aligned header">
            <div class="content">
                {% trans %}Groups{% endtrans %}
            </div>
        </h2>
        <div class="ui attached segment">
            {{ table.search(table_form, "table.groups") }}
        </div>
        {% include "partial/groups.html" %}
    </div>
{% endblock %}
