{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{% block title %}
    {% trans %}Codes{% endtrans %}
{% endblock %}

{% block script %}
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block content %}
    <div class="ui attached segment">
        <h2 class="ui center aligned header">
            <div class="content">
                {% trans %}Codes{% endtrans %}
            </div>
        </h2>

        {{ table.search(table_form, "table.codes") }}
    </div>
    {% include "partial/oidc/admin/authorization_list.html" %}
{% endblock %}
