{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{% block script %}
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block content %}

    <div class="ui segment">
        <a class="ui primary button" href="{{ url_for('oidc.clients.add') }}">{% trans %}Add client{% endtrans %}</a>
    </div>

    <div class="ui attached segment">
        {{ table.search(table_form, "table.clients") }}
    </div>
    {% include "partial/oidc/admin/client_list.html" %}
{% endblock %}
