{# Macros for Flask flash message rendering #}
{% macro messages(classes="") %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="ui
                            {% if messages|len > 1 %}
                                {% if loop.first %}top {% elif loop.last %}bottom {% endif %}attached
                            {% endif %}
                            message
                            {{ category }}
                            {{ classes }}"
                     {% if category in ("error", "negative") %}
                         role="alert"
                     {% else %}
                         role="status"
                     {% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% elif caller is defined %}
            {{ caller() }}
        {% endif %}
    {% endwith %}
{% endmacro %}
