---
# The runners use ubuntu-22.04, because ubuntu-24.04 on GHA does not have this fix yet:
# https://bugs.launchpad.net/ubuntu/+source/apparmor/+bug/2079019
name: tests
on:
  push:
    branches:
      - main
      - '*.*.*'
  pull_request:
    branches:
      - main
      - '*.*.*'
jobs:
  tests:
    name: py${{ matrix.python }} unit tests
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python:
          - '3.14'
          - '3.13'
          - '3.12'
          - '3.11'
          - '3.10'
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install Python ${{ matrix.python }}
        run: uv python install ${{ matrix.python }}
      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install apparmor-utils libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - name: App armor configuration for slapd
        if: ${{ !env.ACT }}
        run: sudo aa-complain /usr/sbin/slapd
      - name: Run tests
        env:
          FORCE_COLOR: "1"
        run: |
          # python tzinfo fails on 'act' without this
          ulimit -n 1024
          export TZ=UTC
          uv sync --all-extras
          uv run pytest --numprocesses auto

  coverage:
    name: code coverage
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install Python 3.14
        run: uv python install 3.14
      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install apparmor-utils libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - name: App armor configuration for slapd
        if: ${{ !env.ACT }}
        run: sudo aa-complain /usr/sbin/slapd
      - name: Run tests with coverage
        continue-on-error: true
        env:
          FORCE_COLOR: "1"
        run: |
          # python tzinfo fails on 'act' without this
          ulimit -n 1024
          export TZ=UTC
          uv sync --all-extras
          uv run pytest --cov --cov-fail-under=100 --cov-report=term --cov-report=html --numprocesses auto
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report
          path: htmlcov/

  minversions:
    name: minimum dependency versions
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install Python 3.10
        run: uv python install 3.10
      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install apparmor-utils libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - name: App armor configuration for slapd
        if: ${{ !env.ACT }}
        run: sudo aa-complain /usr/sbin/slapd
      - name: Run tests
        env:
          FORCE_COLOR: "1"
        run: |
          # python tzinfo fails on 'act' without this
          ulimit -n 1024
          export TZ=UTC
          uv sync --all-extras --resolution=lowest-direct
          uv run pytest --numprocesses auto

  style:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Run linters
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install apparmor-utils libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - name: App armor configuration for slapd
        if: ${{ !env.ACT }}
        run: sudo aa-complain /usr/sbin/slapd
      - name: Run tests
        run: |
          # python tzinfo fails on 'act' without this
          ulimit -n 1024
          export TZ=UTC
          uv sync --all-extras
          uv run prek run --all-files

  bundle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - run: |
          export TZ=UTC
          uv sync --group release --all-extras --no-dev
          uv run pyinstaller canaille.spec
          ./dist/canaille --version
          uv cache prune --ci
  doc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt --yes --quiet install libsasl2-dev python3-dev libldap2-dev libssl-dev slapd ldap-utils
      - run: |
          export TZ=UTC
          uv sync --group doc --all-extras
          uv run playwright install firefox
          uv run sphinx-build doc build/sphinx/html --fail-on-warning
